*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../imagens/banner1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo-mobile{
    display: none;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 10px;
}

nav img{
    width: 190px;
    height: 50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #1a1a1d;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    color: #fff;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 40px;
    font-size: 13px;
    color: #fff;

}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 13px;
    border: 1px solid #eee;
    background: transparent;
    cursor: pointer;
    position: relative;

}

.hero-btn:hover{
    border: 1px solid #0914bb;
    background: #0914bb;
    transition: 2s;
}

nav .fa{
    width: 0px;
    height: 0px;
}


@media(max-width:767px){
    .text-box h1{
        font-size: 20px;
    }

    nav{
        height: 25px;
    }

    nav img{
     display: none;
    }
    
    a .logo-mobile{
        display:inline-block;
        margin-right: 300px;
        position: relative;
        width: 35px;
        height: 35px;
        top: 2px;
    }

    a .logo-mobile:hover{
        width: 29px;
        height: 29px;
        transition: 1.5s ease;
    }

    .nav-links ul li{
        display:block;
    }

    .nav-links{
        position: fixed;
        background: #ffffff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    
    nav .fa{
        display: block;
        color: #fff;
        width: 21px;
        height: 21px;
        margin: 10px;
        font-size: 21px;
        cursor: pointer;  
    }

    .nav-links ul{
        padding: 30px;
    }

    
}

/*---------- Cursos ----------*/

.curso {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #5e5858;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.linha{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.linha p{
    color:#968c8c;
}

.coluna-cur{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.coluna-cur:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px){
    .linha{
        flex-direction: column;   
    }

    h1{
        font-size: 25.5px;
        font-weight: 900;
        text-align: center;
    }
}


/*----- Campus --------*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.coluna-camp{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.coluna-camp img{
    width: 100%;
    display: block;
}

.nivel{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    
}

.nivel:hover{
    background: rgba(89, 104, 168, 0.491);
    cursor: pointer;
}

.nivel h3{
    width: 100%;
    font-weight: 1000;
    color: #ffffff;
    font-size: 19px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;  
}

.nivel:hover h3{
    font-weight: 900;
    color: #0d048f;
    font-size: 25px;
    bottom: 46%; 
    opacity: 1;
}

/*----------Facilidades-----------*/

.facilidade {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.coluna-faci{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: left;    
}

.coluna-faci img{
    width: 100%;
    border-radius: 10px;
}

.coluna-faci img:hover{
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1.1);
}

.coluna-faci p{
    padding: 0;
}

.coluna-faci h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*Testemunhos*/
.testemunhos{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.coluna-test{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 10px;
    display: flex;    
}

.coluna-test img{
    height: 70px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.coluna-test p{
    padding: 0;
}

.coluna-test h3{
    margin-top: 15px;
    text-align: left;
}

.coluna-test .fa{
    margin-right: 30px;
    width: 13px;
    height: 13px;
    justify-content: space-between;
}

@media(max-width:767px){
    .coluna-test img{
        margin-left: 0;
        margin-right: 15px;
    }
}

/*--------Call to action---------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../imagens/banner3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10PX;
    padding: 100PX 0;
    text-align: center;
}

.cta h1{
    color:#fff;
    padding: 0;
    margin-bottom: 20px;
}

@media (max-width:767px){
    .cat h1{
        font-size: 24px;
    }
    
}

/* Estilo para footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000000;
    padding: 30px;
    box-sizing: border-box;
}
  
.esquerda {
    width: 100%;
    max-width: 400px;
    margin-right: 30px;
}

.esquerda h2 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #705c5c;
  }
  
  .esquerda .box {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .esquerda a {
    text-decoration: none;
    color: #666;
  }
  
  .esquerda a:hover {
    text-decoration: none;
    color: #0077be;
    font-weight: 600;
    width: 100px;
  }
  
  .esquerda .box li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
  }
  
  .direita {
    width: calc(100% - 430px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .direita .link-area {
    width: 100%;
    max-width: 300px;
    margin-right: 30px;
  }
 
  .direita h2 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #705c5c;
  }

  .direita .box {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 
  .direita .box a {
    color: #666;
    text-decoration: none;
    transition: 0.5s;
  }

  .direita .box a:hover {
    width: 100px;
    font-weight: 600;
    max-width: 700px;
    color: #0077be;
  }
  
  .direita .box li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
  }
  

  .direita .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px ;
  }

  .direita .social img{
    width: 30px;
    margin-top: 10px;
    transition: 0.5s;
  }
  
  .direita .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  
  .direita .social img:hover{
    transform: scale(1.2);
  }
  
  .fale a{
      text-decoration: none;
      color: #666;
    }
    
    .fale .email:hover{
        color: #0077be;
        width: 80px;
        font-weight: 700;
        transition: 0.5s;
    }

  .rodape-baixo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
  }
  
  .rodape-baixo img {
    width: 70%;
    height: auto;
    margin-right: 30px;
    border-radius: 5px;
  }
  .rodape-baixo img:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  
  .rodape-baixo p {
      font-size: 14px;
      color: #666;
      margin: 0;
    }

   
    .rodape-baixo .voltar-topo {
      position: fixed;
      bottom: 0.1rem;
      right: 0.01rem;
      width: 30px;
      height: 30px;

    }

    .rodape-baixo .UEC{
        text-decoration: none;
        color: #9ac3db;
        font-size: 14px;
        font-weight: 600;
    }
    

  @media(max-width: 767px) {
  .esquerda {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .direita {
    width: 100%;
    max-width: 100%;
  }
 
  .direita a:hover{
    font-weight: 500;
    color: #4094e2;
  }
  
  .direita .link-area {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    align-items: center;
  }

  .fale{
    padding-top: 20px;
  }

  .rodape-baixo {
    flex-direction: column;
    align-items: center;
  }

 .rodape-baixo img {
    display:none;
  }
 
  .rodape-baixo .voltar-topo {
    width: 30px;
    height: 30px;
    right: 1rem;
    bottom: 1rem;
  }

}

/*---------------Página Sobre----------------*/

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../imagens/testeabout.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 180px;
}

.sobre-nos{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.coluna-sobre{
    flex-basis: 50%;
    padding: 20px 10px;
}


.sobre-nos h1{
    padding-top: 0;
}

.sobre-nos h2{
    color: #5e5858;
    font-weight: 700;
    font-size: 20px;
}

.sobre-nos p{
    padding: 8px 10px 10px;
    color: #968c8c;
}

.coluna-sobre ul{
    margin-top: 10px;
    margin-left: 10px;
    color: #968c8c;
    text-decoration: none;
}

.coluna-sobre ul li{
    list-style-type: none;
}

.azul-btn{
    border: 1px solid #666;
    align-items: center;
    background:transparent;
    color: #200dd1;
    margin-left: 35%;
}
.azul-btn:hover{
    color: #e4e3ec;  
}

@media(max-width:767px){
    
    .sub-header h1{
        margin-top: 140px;
    }

    .azul-btn{
        margin-left: 18%;
    }

}

/*---------------Página Blog---------------*/

.blog{
    width: 80%;
    margin: auto;
    padding-top: 60px 0;
}

.esquerda-blog{
    flex-basis: 65%;
}

.esquerda-blog img{
    width: 100%;
}

.esquerda-blog h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.esquerda-blog p{
    color: #999;
    padding: 0;
    font-size: 19px;
    margin-bottom: 15px;
}

.direita-blog{
    flex-basis: 32%;
}

.direita-blog h3{
    background: #1a08bd;
    color: #fff;
    font-size: 16px;
    padding: 7px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.direita-blog div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8d8484;
    background: #f0f0f0 ;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-left: 40px;
}

.caixa-com {
    border:1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.caixa-com h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;

}

@media(max-width:767px) {
    .sub-header h1{
        font-size: 24px;
    }  

    .direita-blog h3{
        margin-left: -4px;
    }
    
    .direita-blog div{
        margin-left: -4px;
        margin-bottom: 6px;
    }
}

/*--------Pagina contato---------------*/
.localizacao{
    width: 80%;
    margin:auto;
    padding: 80px 0;
}

.localizacao iframe{
    width: 100%;
}

.contate-nos{
    width: 80%;
    margin: auto;
}

.coluna-con {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.coluna-con div{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}

.coluna-con img{
    width: 30px;
    margin: 10px;
    margin-right: 30px;
}   

.coluna-con p{
    padding: 0;
    font-size: 14px;
    color: #a5a0a0;
}

.coluna-con h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000000;
}

.coluna-con span{
    font-size: 14px;
    color: #666;
}

.coluna-con span sp{
    font-size: 14px;
    color: #666;
}

.coluna-con input, .coluna-con textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*----Pagina termos----*/

.sub-head nav{
    background-color: #ffffff;
    border: 3px solid #e4dede;
}

main{
    width: 70%;
    list-style: none;
    background-color: hsl(0, 17%, 98%);
    margin: 80px auto 80px;
}

main h1{
    color: #292727;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

main h3{
    text-align: left;
    color: #5e5858;
}

main h4{
    color: #4094e2;
}








